lmd_matched/
chord_generator_test/results/generated_music/
chord_generator_test/results/models/
chord_generator_test/results/*.png
chord_generator_test/results/selected_results/
chord_generator_test/results/tests/
*.pickle
*.midi
*.tar.gz
*.zip
*.h5
*.pdf
*.mid
*.midi
*.npy
*.pb
cheriell_test/automatic_music_accompaniment_master
chord_generator_test/JamBot-master
*.pyc
*.md5
*.whl
chord_generator_test/results/chords_and_melodies
JuceTesting/Builds
pyo_testing/models/
._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
xcuserdata
*.xccheckout
*.xcscmblueprint
*.xcscheme
contents.xcworkspacedata
.DS_Store
.svn
.deps
.dirstamp
profile
**/MacOSX/build
**/iOS/build
**/IDEWorkspaceChecks.plist
**/Linux/build
**/LinuxMakefile/build
**/VisualStudio[0-9]*/Win32
**/VisualStudio[0-9]*/x64
**/Builds/x64
**/.vs
**/CodeBlocks/bin
**/CodeBlocks/obj
**/CodeBlocks/*.depend
**/CodeBlocks/*.layout
**/Builds/Android/.gradle
**/Builds/Android/.idea
**/Builds/Android/build
**/Builds/Android/**/*.iml
**/Builds/Android/local.properties
**/Builds/Android/app/build
**/Builds/Android/app/.externalNativeBuild
**/Builds/Android/app/.cxx
**/Builds/Android/lib/build
**/Builds/Android/lib/.externalNativeBuild
**/Builds/CLion/cmake-build-*
**/Builds/CLion/.idea
**/Builds/MacOSX/**/Index
**/Builds/MacOSX/**/Intermediates.noindex
**/doxygen/doc
**/doxygen/build
**/.idea
extras/Projucer/JUCECompileEngine.dylib

.idea
**/cmake-build*

.vscode
/build
chord_occurrences.png
chord-config-data.csv
chorma_hist.png
full_hist.png
pianoroll.png
poly-config-data.csv
scale_occurrences.png
baseline_d220411_t2023/history.png
baseline_history.png
.gitignore
poly_history.png
chord_history.png
poly_history1.png
full_hist_model.png
full_hist_baseline.png
