lstm_matched/
lstm_matched_h5/
midis/
*.pickle
*.mid
*.midi
*.tar.gz
*.zip
*.h5
*.hdf5
*.pdf
*.npy
*.pb
cheriell_test/automatic_music_accompaniment_master
chord_generator_test/JamBot-master
*.pyc
*.md5
*.whl
chord_generator_test/results/chords_and_melodies
