lmd_matched/
chord_generator_test/results/generated_music/
chord_generator_test/results/models/
chord_generator_test/results/*.png
*.pickle
*.midi
*.tar.gz
*.zip
*.h5
*.hdf5
*.pdf
*.npy
*.pb
cheriell_test/automatic_music_accompaniment_master
chord_generator_test/JamBot-master
*.pyc
*.md5
*.whl
chord_generator_test/results/chords_and_melodies
